body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.contenedor{
    height: 100vh;
    width: 100vw;
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 9fr;

}

input[type=submit], input[type=button]{
    padding: 0;
    margin: 0;
    height: 80%;
    width: 160px;
    margin: 5px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: lightskyblue;
    font-weight: bolder;
    font-size: 20px;
}
 
input[type=submit]:hover, input[type=button]:hover{
    border: 3px solid lightblue;
    background-color: lightskyblue;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}



header{
    background-color: white;
    display: grid;
    border-bottom: 5px solid lightgray;
    grid-template-columns: 2fr 5fr 1fr 1fr 1fr ;
}

.logo{
    color: black;
    text-decoration: none; 
    background-image: url(../img/logo.png);
    background-size: cover;
    background-position: center;
}

.inner_contenedor{
    background-image: url(../img/navegacion.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registro{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid lightgray

}

.registro>input[type=text],.registro>input[type=email],.registro>input[type=password]{

    width: 80%;
    height: 25px;
    padding: 5px;
    margin: 2px;

}

.registro>h1{

    font-size: 50px;
    color: darkgray
}
